<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.kazi.syncinstalledpackages</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>-c -l</string>
        <string>$HOME/gyatfiles/scripts/sync-installed-packages.sh</string>
    </array>
    </array>

    <key>StartInterval</key>
    <integer>86400</integer> <!-- 86400 seconds is 24 hours -->

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <false/>
  </dict>
</plist>
